{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .chart canvas {
            background: #eff2f8;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col chart">
            <canvas id="insertData"></canvas>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col chart">
            <canvas id="selectData"></canvas>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col chart">
            <canvas id="selectByRangeData"></canvas>
        </div>
    </div>
    <br>
{% endblock %}
{% block javascripts %}
    <script>
        var chartsData = {{ chartsData | json_encode | raw }};
        for (let chartName in chartsData) {
            const chartData = chartsData[chartName];
            renderChart($('#' + chartName), chartData.title, chartData.xAxis, chartData.data);
        }
    </script>
{% endblock %}